body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e7eaec;
  text-align: center;
}

header {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.header-container h1 {
  margin: 0;
}

header p {
  margin-top: 10px;
  font-size: 1.5em;
  text-align: center;
}

section {
  padding: 50px 20px;
  text-align: center;
}

.about-container, .skills-container, .projects-container, .resume-container, .contact-container {
  max-width: 1000px;
  margin: 0 auto;
}

.profile-image {
  width: 150px;
  border-radius: 50%;
}

.about-text, .skills-container ul, .project, .resume-container, .contact-container {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.project img {
  width: 100%;
  height: auto;
}

footer {
  background-color: #333;
  color: rgb(4, 3, 3);
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}